body {background-color: beige;}

#main {background-color: lightblue;
text-align: center;
border-style: dashed;
border-color: lightgrey;
font-size: 20px;}

#tweets {border-style: dashed;
	border-color: lightgrey;}

#headdiv {background-color: powderblue;
color: ghostwhite;	
text-align: center;}

/*p {font: arial 12 black;}*/